[submodule "project1"]
	path = project1
	url = https://github.com/cloudserviceaem/project1.git
	branch = main
[submodule "project2"]
	path = project2
	url = https://github.com/cloudserviceaem/project2.git
	branch = main
